.message {
    display: flex;

    &--next-different {
        margin-bottom: 10px;
    }

    &__author {
        flex-grow: 1;
        margin-right: 5px;
        width: 1px;
        font-size: 18px;
        font-family: Arial;
        text-align: center;
    }

    &__text {
        flex-grow: 4;
        padding: 5px;
        width: 1px;
        font-size: 18px;
        font-family: Arial;

        &--own {
            background: #b2e2ff;
        }

        &--not-own {
            background: #e3ebf7;
        }

        &--next-different {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        &--previous-different {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }
}
